body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  /* padding-top: 4rem; */
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif;
}

.border-consultoria{
  border-bottom: 5px solid #514341!important;
}

.carousel-item{
  height: 32rem;
}

.text-consultoria{
  color: #514341!important;
}

.color-bianca1{
  color: #F2594B!important;
}

.color-bianca2{
  color: #403D3E!important;
}